# =========================
# OS (Mac / Windows)
# =========================
.DS_Store
Thumbs.db

# =========================
# Arduino / ESP32
# =========================
*.ino.cpp
*.ino.cpp.o
*.elf
*.bin

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment (Gizli bilgiler)
# =========================
.env

# =========================
# PHP / Web
# =========================
vendor/
node_modules/

# =========================
# Build / Cache
# =========================
build/
dist/
cache/
tmp/

# =========================
# Database (dump dosyaları)
# =========================
*.sql

# =========================
# Local config (isteğe bağlı)
# =========================
config.local.php
